**Lambda Functions**

- Lambda functions respresents function concept

- But we can write in a single line

- Like list comprehension, lambda functions similar only

- It will decrease the time complexity

- Always remember if we use many for loops or many conditions using multiple line, the time complexity will increase

In [ ]:
#syntax

**It will use a keyword lambda**
    
#lambda <arguments>: <expression>

In [2]:
def summ(n):
    return(n+10)
summ(20)

30

$Patten-1$

**Function with only one argument**

- Function name

- argument name 

- return output

In [5]:
# syntax: <function name>= lambda <argument name>: <return output>
def summ(n):        # summ is function name
    return(n+10)    # n is argument name & n+10 is return output
summ(20)

30

In [7]:
def cude(n):
    return(n**3)
cude(10)

1000

In [11]:
summ=lambda n:n+10
summ(100)

110

In [13]:
cude=lambda n:n**3
cude(10)

1000

$Pattern-2$

**Two arguments**

In [18]:
#syntax: <function name> = lambda <arg1>,<return output>
def add(a,b):
    return(a+b)
add(20,30)

#Function name: add
# arg1=a
# arg1=b
# return= a+b

50

In [20]:
add=lambda n1,n2: n1+n2
add(30,40)

70

In [30]:
avg=lambda a,b,c: round((a+b+c)/3,2)
avg(20,305,40)

121.67

**Pattern-3**

**Default arguments**

In [2]:
avg=lambda a,b,c=500: round((a+b+c)/3,2)
avg(20,305)

275.0

$Pattern-4$

**if-else**

In [5]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [12]:
# syntax : function name = lambda <arg1>,<arg2>: <list comprehension>
# syntax : function name = lambda <arg1>,<arg2>: <if_out><if_con><else><esle_out>
maxx=lambda a,b: a if a>b else b
maxx(10,20)

20

**Pattern-5**

**using list**

In [15]:
l=['hyd','chennai','mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
lambda <variable>:<op>
# variable:i
#op:i.capitalize()
lambda <variable>:<op>,<iterator>
#<iterator>: list

**map**

- The function and iterator are available now

- we need to map both

In [21]:
l=['hyd','chennai','mumbai']
lambda i: i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [24]:
l=['hyd','chennai','mumbai']
map(lambda i: i.capitalize(),l)

In [26]:
list[]

SyntaxError: invalid syntax (30866302.py, line 1)

In [3]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
- case-1: Function call with one argument

    - lambda argument : expression

    - lambda variables : return output

- case-2: Function call with two arguments

    - lambda arg1, arg2 : Expression

    - lambda var1,var2 : return output

- case-3: Function call with two arguments

    - lambda arg1,arg2=500 : Expression

    - lambda var1,var2=500 : return output

- case-4: Function call with two arguments and if else statement

    -lambda arg1,arg2 : Expression

    -lambda var1,var2 : if_output if_con else els_op forloop

- Case-5: Lambda operations using list

    -lambda arg : Expression,iterator

    - map(lambda var: operation,list)

    - list(map(lambda var: operation,list))

In [15]:
l=['hyd','chennai','mumbai']
#for i in l:
   # print(i.upper())

list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

**Filter**

- Whenever if condition there use filter

In [21]:
l=['hyd','che#nnai','mum#bai','blr']
for i in l:
    if '#' in i:
        print(i)
list(map(lambda i : "#" in i,l))  # mistake 1
                                    # do not write if

che#nnai
mum#bai

[False, True, True, False]

In [27]:
tuple(filter(lambda i : "#" in i,l))

('che#nnai', 'mum#bai')

In [ ]:
# some number=[1,3,2,7,6]
# op=[2,6]

In [29]:
l=[1,3,2,7,6]
tuple(filter(lambda i : i%2==0 ,l))

(2, 6)

In [35]:
l1=[1,2,3,4,5]

#sum(l1)  #method-1
#method-2
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

In [45]:
l1=[1,2,3,4,5]

filter(lambda summ,i:summ+i,l1)

In [ ]:
**Reduce**
  
- All inbulit functions can achieve by Reduce

- Reduce is available from functools package

- Level-1: Reduce(lambda summ,i:summ+i,l1)

- Level-2: reduce(lambda summ,i:summ+i,l1,intial_value)

- For example we want intialize summ=o

In [49]:
import functools

In [51]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [53]:
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [55]:
import math
math.sqrt(25)

5.0

In [57]:
import numpy
numpy.mean([1,2,3,4,5])

3.0