- We can store the output values by using append operation

- we are taking empty list

- we are iterating through elements from a given list

- The result we are appending in a new list

In [2]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process

- the three lines we can make into a single line

- This is called as LIST COMPREHESION

$pattern-1$

**Only for loop**

In [ ]:
# syntax
#[<output>  <for loop>]

In [7]:
#Q2)
l1=['hyd','mumbai','chennai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [11]:
l1=['Hyd','Mumbai','Chennai','Blr']
lower_list=[i.lower() for i in l1]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [15]:
l2=['Hyd','Mumbai','Chennai','Blr']
for i in l2:
    print(l2.index(i))

0
1
2
3

In [21]:
l2=['Hyd','Mumbai','Chennai','Blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

$pattern-2$

**for loop - if condition**

In [ ]:
#syntax
#[<output>  <for loop>  <if condition>]

In [ ]:
#Q5)l1=['Hyd','Mumbai','Chennai','Blr']
# ans=['Mumbai','Chennai']

In [26]:
l1=['Hyd','Mumbai','Chennai','Blr']
for i in l1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [28]:
l1=['Hyd','Mumbai','Chennai','Blr']
op=[for i in l1 if len(i)>4]
op

SyntaxError: invalid syntax (1300857022.py, line 2)

In [30]:
#Q6)
l1=['Hyd','Mum#bai','Chen#nai','Blr']
op=[i for i in l1 if '#' in i ]
op

['Mum#bai', 'Chen#nai']

In [32]:
l1=['Hyd','Mum#bai','Chen#nai','Blr']
op=[i for i in l1 if '#' not in i ]
op

['Hyd', 'Blr']

In [34]:
l1=['Hyd','Mumbai','Chennai','Blr']
op=[i for i in l1 if i.istitle() ]
op

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [54]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[2][:9]

' KL.Rahul'

In [3]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index('.')]
f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])
f_name

['virat', ' Rohit', ' KL']

In [5]:
for i in list1:
    print(i[:i.index('.')])

virat
 Rohit
 KL

$Pattern-3$

**if-else**

In [ ]:
[<output> <forloop>] : for loop
[<output> <forloop> <if condition>]: for-if
[<if_output> <if> <else> <else_output><for>] : if else

**even-odd**

In [9]:
for i in range(1,20):
    if i%2==0:
        print(f'even:{i}')
    else:
        print(f'odd:{i}')

odd:1
even:2
odd:3
even:4
odd:5
even:6
odd:7
even:8
odd:9
even:10
odd:11
even:12
odd:13
even:14
odd:15
even:16
odd:17
even:18
odd:19

In [11]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f'even:{i}')
    else:
        op_list.append(f'odd:{i}')
op_list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']

In [13]:
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']