## Variables

- Variables are used to store the value 

- and the values can be change

In [2]:
number=100  # value 100 store in a variable name called 'number'
number

100

In [4]:
number=200 #value 100 store in a variable name called 'number'
number

200

**Note**

-Python is step by step process

-Python will take last output as the latest value 

-in above code we using same variable: number

- but number value changed two times

- first 100 

- second 200

- Latest value 200

In [7]:
NUMBER=200
NUMBER

200

In [9]:
number,NUMBER

(200, 200)

In [11]:
NUMber= 300
NUMber

300

In [13]:
number123=400
number123

400

In [15]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [17]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [19]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [21]:
number_one=100
number_one

100

In [23]:
_=100
_

100

In [25]:
n1=100,200
n1

(100, 200)

In [27]:
n2,n3=200
n2,n3

TypeError: cannot unpack non-iterable int object

In [31]:
n4,n5=100,200
print(n4)
print(n5)

100
200

In [ ]:
number=200 # w
NUMBER=300 # w
NUMber=400 # w
number123=500 # w
123number=600 # F
num%er=700 # F
number one=800 # F
number_one=900 # w
_=1000 # w
n1=100,200 # w
n1,n2=100 # F
n1,n2=100,200 # w

In [ ]:
n1,_=200,300

In [ ]:
if
while
else
elif
for
True
False

- Python variables are case sensitive

- Variables can be declare as capital letters

- Variables can be declare as small letters

- Varibales can start with numbers (prefix)

- Numbers can be suffix of the variables

- Variables can not have special characters except **underscore**

- Variables does not have space between the names

- only underscore is possibiles

- Keywords or reserved words cannot use as variables 

- Two values can be assign to a single variable

- One value can not assign to two variable