### Dictionary

- We already seen many data types

- string

- List

- Tuple

- set

- Dictionary

- int float bool complex

- range

- bytes

- eval is not a data type

In [ ]:
names=['Ramesh','Suresh','Satish']
age=[37,25,30]

**ZIP**

In [12]:
names=['Ramesh','Suresh','Satish']
age=[37,25,30]
for i,j in zip(names,age):
    print(i,j)

Ramesh 37
Suresh 25
Satish 30

In [14]:
list(zip(names,age))

[('Ramesh', 37), ('Suresh', 25), ('Satish', 30)]

In [ ]:
dict1={<key>:<value>}
names=['Ramesh','Suresh','Satish']
age=[37,25,30]
'Ramesh'  is the key ====== 37 its related value
dict1={'Ramesh':37,'Suresh':25,'Satish':30}

In [18]:
dict1={'Ramesh':37,'Suresh':25,'Satish':30}
type(dict1)

dict

**Create all type of dictionaries**

In [ ]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
d2{'Manish':'25','Shubam Gill':'20','Govind':'15'}
d3={25:'Manish',20:'Shubam Gill',15:'Govind'}
d4={25:50}
d5={'Fruites':['Apple','Cherry']}
d6={['Apple','Cherry']:'Fruites'}
d7={('Apple','Cherry'):'Fruites'}
d8={'Ajay':25,'Ajay':30}
d9={25:'Ajay',30:'Ajay'}
d10={'Fruites':{'Mango':25}}

**- Keys are important**

- Keys have only latest

- key should be 

- Values can be duplicate

- which means different keys have same value

- List can not be a key, Because Lists are mutable

- Tuple can be a key, because Tuple are immutable

In [ ]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
d2={'Manish':'25','Shubam Gill':'20','Govind':'15'}
d3={25:'Manish',20:'Shubam Gill',15:'Govind'}
d4={'Manish':25,'Shubam Gill':'20','Govind':15}
d5={25:'Manish','20':'Shubam Gill',15:'Govind'}
d6={'Manish':20,'Shubam Gill':20,'Govind':20}
d7={20:'Manish',20:'Shubam Gill',20:'Govind'}

In [22]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
max(d1)

# operations apply on keys
#Keys are important

'Shubam Gill'

In [26]:
d2={'Manish':'25','Shubam Gill':'20','Govind':'15'}
max(d2)

'Shubam Gill'

In [28]:
d3={25:'Manish',20:'Shubam Gill',15:'Govind'}
max(d3)

25

In [30]:
d4={25:50}
max(d4)

25

In [32]:
d4={'Manish':25,'Shubam Gill':'20','Govind':15}
max(d4)

'Shubam Gill'

In [34]:
d5={25:'Manish','20':'Shubam Gill',15:'Govind'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [36]:
d6={'Manish':20,'Shubam Gill':20,'Govind':20}
max(d6)

'Shubam Gill'

In [38]:
d7={20:'Manish',20:'Shubam Gill',20:'Govind'}
max(d7)

20

In [41]:
d67={20:'Manish',20:'Shubam Gill',20:'Govind'}
d67

{20: 'Govind'}

In [58]:
d10={'Fruites':{'Mango':25}}
max(d10)

'Fruites'

In [ ]:
**reversed**

- You might have think dictionary will reverse

- when yu apply reversed, then you got to know

- only keys will come in reverse

In [45]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
list(reversed(d1))

['Govind', 'Shubam Gill', 'Manish']

In [49]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
list(sorted(d1))

['Govind', 'Manish', 'Shubam Gill']

In [53]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
list(sorted(d1,reverse=True))

['Shubam Gill', 'Manish', 'Govind']

In [47]:
d67={20:'Manish',20:'Shubam Gill',20:'Govind'}
list(reversed(d67))

[20]

**Index**

In [3]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
# If you want retrive the values
#python will never give 'Manish':25
d1[0]

KeyError: 0

In [5]:
d1['Manish']

25

In [21]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
# Dictionary is a key:value pair
# we cannot use index number directly
# whenever you want to call a value, we will use key
d1['Manish']
d1['Shubam Gill']
d1['Govind']

#d1[i]

15

In [19]:
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubam Gill has age 20
Govind has age 15

In [25]:
names=['Sallu','Sharath','Mani']
age=[20,24,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

Sallu has age 20
Sharath has age 24
Mani has age 30

**Dictionary to List**

In [27]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
values

[25, 20, 15]

**empty string**

In [ ]:
d={}
d[<key>]=<value>

In [33]:
d={}
d['Sharath']=24
d

{'Sharath': 24}

In [41]:
names=['Sallu','Sharath','Mani']
age=[20,24,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j
NAMES

{'Sallu': 20, 'Sharath': 24, 'Mani': 30}

**string to list**

In [50]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**word frequency**

In [83]:
s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [ ]:
string1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

**Mutable-immutable**

- Change the Elements using index

- But in dictionary there is no index

- In dictionary we will change the value based on key only

- Instead of using the index, change the values using key 

- if it is change it is mutable 

- if it is not change it is Immutable

In [86]:
d={'Sharath':23,'sallu':23,'Nagesh':30}
d['Sharath']=24
d

{'Sharath': 24, 'sallu': 23, 'Nagesh': 30}

In [ ]:
- List and dictionary are mutable 

- Tuple and strings are immutable

- Difference between list and Tuple

In [88]:
d={'Fruites':['Mango']}
d['Fruites'][0]

'Mango'

In [98]:
d={'Fruites':[{'Apple':['Kashmir']}]}
d['Fruites'][0]['Apple'][0]

'Kashmir'

In [122]:
d={'Fruites':[{'Apple':{'Kashmir':['India']}}]}
d['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [140]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

In [13]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']

{'Benganapalli': {'Mango': {'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}}}

In [ ]:
string
list 
tuple
dictionary all are class objects

In [15]:
d1={'Manish':25,'Shubam Gill':20,'Govind':15}
d1

{'Manish': 25, 'Shubam Gill': 20, 'Govind': 15}

In [17]:
d1.items()

dict_items([('Manish', 25), ('Shubam Gill', 20), ('Govind', 15)])

In [19]:
d1.keys()

dict_keys(['Manish', 'Shubam Gill', 'Govind'])

In [21]:
d1.values()

dict_values([25, 20, 15])

In [29]:
d={'Manish':25,'Shubam Gill':20,'Govind':15}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

Manish 25
Shubam Gill 20
Govind 15

(['Manish', 'Shubam Gill', 'Govind'], [25, 20, 15])

- Dictionary keys will give dictionary keys items in a list

- It looks like, but it is not a list

- which means we can not apply list methods

- So we need to coonvert into list type, by using list type casting

In [32]:
list[d.keys()]

list[dict_keys(['Manish', 'Shubam Gill', 'Govind'])]

In [36]:
list(d.keys())

'Manish'

In [40]:
dir(list[d.keys()])

['__add__',
 '__args__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mro_entries__',
 '__mul__',
 '__ne__',
 '__new__',
 '__origin__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__typing_unpacked_tuple_args__',
 '__unpacked__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [61]:
list(d.keys())

['Manish', 'Shubam Gill', 'Govind']

In [44]:
for i in list[d.keys()]:
    print(i)

*list[dict_keys(['Manish', 'Shubam Gill', 'Govind'])]

In [48]:
type(list[d.keys()])

types.GenericAlias

**Method-1**

In [ ]:
d={'Manish':25,'Shubam Gill':20,'Govind':15}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

**Methods-2**

In [58]:
d={'Manish':25,'Shubam Gill':20,'Govind':15}
keys=list(d.keys())
values=list(d.values())

**Methods-2**

In [52]:
d.items()

dict_items([('Manish', 25), ('Shubam Gill', 20), ('Govind', 15)])

In [56]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

Manish 25
Shubam Gill 20
Govind 15

(['Manish', 'Shubam Gill', 'Govind'], [25, 20, 15])

In [ ]:
a=10,20 #works
a,b=10,20 #works
a,b=10 #fails