**Representation**

- String representation with quotes

- List represent with square brackets[]

In [3]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [5]:
type(l1)

list

In [7]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [9]:
l3=[1,2,3,4,'A','B','C','D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [11]:
l4=[1,2,3,'Apple','Ball',True,False]
l4

[1, 2, 3, 'Apple', 'Ball', True, False]

In [13]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [15]:
l6=[100,100,100]
l6

[100, 100, 100]

In [ ]:
- lists are array of elements

- list elements are heterogeneous all the data types we can represent in a list

- list elements are allowed duplicates

- list in list is possible

- variable assignment also possible in the list

In [29]:
l1=[1,2,3,4]
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

4
4
1
[1, 2, 3, 4]
<list_reverseiterator object at 0x0000012D22F83640>

In [31]:
l1=['A','B','C','D']
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

4
D
A
['A', 'B', 'C', 'D']
<list_reverseiterator object at 0x0000012D25782EC0>

In [45]:
l1=[1,2,3,'Apple','Ball',True,False]
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

7

TypeError: '<' not supported between instances of 'str' and 'int'

In [51]:
name='Sharath'
l1=name
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

7
t
S
['S', 'a', 'a', 'h', 'h', 'r', 't']
<reversed object at 0x0000012D257B4430>

In [53]:
l1=[1,2,3,'Apple','Ball']
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

5

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
l1=[100,'Apple',['A',2]]
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

3

TypeError: '>' not supported between instances of 'str' and 'int'

In [57]:
l1=[1,2,3,'Apple','Ball',True,False]
reversed(l1)

In [59]:
for i in reversed(l1):
    print(i)

False
True
Ball
Apple
3
2
1

In [61]:
l1=[1,2,3,'Apple','Ball',True,False]
list(reversed(l1))

[False, True, 'Ball', 'Apple', 3, 2, 1]

In [69]:
name=['aditya','aaditya','banu']
max(name)
# First compare all first letters 
# If all first letters ascii values same
# Then compare with second letters
# Continue the process

'banu'

In [71]:
list1=['Apple',1,['Cherry','Banana']]
len(list1)

3

In [73]:
list1=[65,'A']
max(list1)
# same data type only comparable

TypeError: '>' not supported between instances of 'str' and 'int'

**Index**

In [ ]:
l1=[1,2,3,'Apple','Ball',True,False]

# -8 -7 -6   -5     -4     -3    -2    -1
# 1,  2, 3,'Apple','Ball','cat',True,False
# 0   1  2    3      4      5     6   7

In [76]:
l1[3]

'Apple'

In [86]:
l1[-3]

'Ball'

In [88]:
l1=[1,[2]]
l1

[1, [2]]

In [94]:
new=l1[1]
new[0]

2

In [96]:
l1[1][0]

2

In [100]:
l1=[1,[2,'A']]
l1[1][1]

# 'A' is presented at index 1
# so we given l1[1] : [2,'A'] it is aslo a list
# The lists has two elements
# 'A' at 1st index
# l1[1][1]

'A'

In [130]:
l2=[1,2,3,[2,'A']]
l2[3][1]

'A'

In [158]:
l1=[1,[2,['A','B']]]
l1[1][1][1]
#len(l1)

'B'

In [176]:
l1=[1,2,[3,[4,[5,['Apple']]]]]
l1[2][1][1][1][0]

'Apple'

In [178]:
l1[2]

[3, [4, [5, ['Apple']]]]

In [186]:
list1=['Apple',1,'Solapur',['cherry','papaya',70,[123,'Banana'],'tomato'],'pythom']
list1[3][3][1]

'Banana'

In [202]:
list1=[[[[[[[1,'Cherry']]]]]]]
list1[0][0][0][0][0][0][1]

'Cherry'

In [222]:
list1=['MH',['Nagpur',['Orange',['Likes',['King'],['Shivaji',['son',['shmbaji']]]]]]]
list1[1][1][1][2][1][1][0]

'shmbaji'

In [6]:
l1=[1,2,3,'Apple','Ball',True,False]
for i in range(len(l1)):
    print(f"The positive index of {l1[i]} is {i}")

The positive index of 1 is 0
The positive index of 2 is 1
The positive index of 3 is 2
The positive index of Apple is 3
The positive index of Ball is 4
The positive index of True is 5
The positive index of False is 6

**List Methods**

In [17]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort']

**Append**

- adding elements in alist at last index

- append method is very important

- most of the time we will use append in the real time

- When you add the value the original list will be overwrite

In [19]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [ ]:
# You want to add Doll in a given list

# Keywords vs methods
len()
max()
min()
reversed()
sorted()

#methods
<package>.<method>()

In [27]:
l.append('Doll')

In [29]:
l

['Apple', 'Ball', 'Cat', 1, 'Doll', 'Doll', 'Doll']

In [31]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [33]:
l.append('Doll')
l

['Apple', 'Ball', 'Cat', 'Doll']

In [35]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [41]:
l2=[]
l2.append(10)
l2.append(200)
l2.append('Apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 200, 'Apple', ['A', 1], True]

In [43]:
l2(100,200,3000)

TypeError: 'list' object is not callable

In [49]:
l2([100,200,3000])
l2

TypeError: 'list' object is not callable

In [51]:
l2=[]
l2.append(10)
l2.append(200)
l2.append('Apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 200, 'Apple', ['A', 1], True]

In [55]:
l2.append([100,200,3000])
l2

[10, 200, 'Apple', ['A', 1], True, [100, 200, 3000]]

**Append method used to save the output in a list**

In [58]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [64]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25]

In [66]:
s=''
for i in 'python':
    s=s+i

In [76]:
str1='hai hai hai'
id_list=[]
for i in range(len(str1)):
    if str1[i]=='i':
        id_list.append(i)
id_list

[2, 6, 10]

In [11]:
str2=['Hyd','Mumbai','Chennai','Blr']
id_list=[]
for i in str2:
    if len(i)>4:
        id_list.append(i)
id_list

['Mumbai', 'Chennai']

In [23]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'
l1=['Hyd','Mum#bai','Chen#nai','blr']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['Mum#bai', 'Chen#nai']

In [25]:
'nadeem' in '#' # 'nadeem' is available in '#'
'#' in 'nadeem' # is '#' availabl in 'nadeem'
'nad##m' in '#' # is 'nad##m' available in 'nadeem'
'#' in 'nad##m' # is '#' available in 'nad##m'

True

In [27]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital
l1=['Hyd','Mumbai','chennai','blr']
ans=[]
for i in l1:
    ans.append(i.title())
ans

['Hyd', 'Mumbai', 'Chennai', 'Blr']

**split-join**

- split will apply for strings , to divide the words or characters

- when we split the elements will be stored in alist format

- join is used to combine the elements of a list in a string format

- **split-join**

- **join-list**

In [34]:
str1='hello im learning python '
words=str1.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
' '.join(new_words)

'Hello Im Learning Python'

In [36]:
import math

def calculate_distance(point1, point2):
    """Calculates the Euclidean distance between two points."""
    x1, y1 = point1
    x2, y2 = point2
    distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    return distance

a = [1, 2]
b = [4, 5]

distance = calculate_distance(a, b)
print("Distance between points a and b:", distance)

Distance between points a and b: 4.242640687119285

In [ ]:
#calculate the distance between the points a=[1,2] b=[4,5] python

In [42]:
a=[1,2]
b=[4,5]
print(math.sqrt(math.pow((b[0]-a[0]),2)+math.pow((b[1]-a[1]),2)))

4.242640687119285

In [44]:
a=[1,2]
b=[1,5]
print(math.sqrt(math.pow((b[0]-a[0]),2)+math.pow((b[1]-a[1]),2)))

3.0

In [48]:
a=[1,2]
b=[1,5]
v1=b[0]-a[0]
v2=b[1]-a[1]
v11=v1**2
v22=v2**2
print(math.sqrt(v11+v22))

3.0

In [54]:
points=[[1,2],[2,3],[3,4]]
val=[2,3]

for i in points:
    print(i[0],i[1])
    print(val[0],val[1])
    print('============')

1 2
2 3
============
2 3
2 3
============
3 4
2 3
============

In [64]:
points=[[1,2],[2,3],[5,4]]
val=[2,3]

for i in points:
    print(i[0],i[1])
    print(val[0],val[1])
    o1=val[0]-i[0]
    o2=val[1]-i[0]
    print(f"{val[1]}-{val[0]}={o2},{val[0]}-{i[0]}={o1}")
    v11=o1**2
    v22=o2**2
    print(math.sqrt(v11+v22))
    print('==============')

1 2
2 3
3-2=2,2-1=1
2.23606797749979
==============
2 3
2 3
3-2=1,2-2=0
1.0
==============
5 4
2 3
3-2=-2,2-5=-3
3.605551275463989
==============

In [70]:
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append
str='hello hai how are you'
words=str.split()
str2=[]
for i in words:
    x=len(i)
    str2.append(i)
str2

['hello', 'hai', 'how', 'are', 'you']

In [1]:
str='hello hai how are you'
words=str.split()
len_words=[]
for i in words:
    x=len(i)
    len_words.append(x)
max_len=max(len_words)

for i in words:
    if len(i)==max_len:
        print(i)

hello

In [5]:
qns_lists=['What is capital of India',
         'Who is PM of India',
         'Who is ICT ODI captian']
ans_list = ['Delhi', 'Modi', 'Rohit']
marks=0
for i in range(len(qns_lists)):
    ans=input(qns_lists[i])
    if ans.lower()==ans_list[i].lower():
        marks=marks+1

print("The total marks are:",marks)

What is capital of India Delhi
Who is PM of India Modi
Who is ICT ODI captian Rohit

The total marks are: 3

In [ ]:
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

**Copy**

In [23]:
l1=[1,2,3,100,200,300,'A']
l2=l1.copy()
l2

[1, 2, 3, 100, 200, 300, 'A']

**clear**

In [26]:
l1.clear()
l1

[]

In [28]:
l2

[1, 2, 3, 100, 200, 300, 'A']

In [34]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.append(l2)
print(l1)
print(l2)

[1, 2, 3, 4, ['A', 'B', 'C', 'D']]
['A', 'B', 'C', 'D']

In [36]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [40]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.count(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [44]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [46]:
l1=[1,2,3,4]
l2=['A','B','C','D']
print(l1+l2)
print(l2+l1)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]
[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [48]:
l1=[1,2,3,4]
l1.extend('apple')

In [50]:
l1

[1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e']

In [56]:
l1=[1,2,3,4]
l1.extend(10)
l1

TypeError: 'int' object is not iterable

In [60]:
l1=[1,2,3,4]
l1.extend((10,20))
l1

[1, 2, 3, 4, 10, 20]

In [ ]:
- append just appened the value with base data type

- extend is concatenate the value, and the list will be overwrite with new values

- extend can take any iterable format type i.e. string, list, tuple

- extend and concatenation both are same

- the list will not overwrite in concatenation

In [66]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.index(2)
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
i1,i2

(3, 6)

In [ ]:
- case-1: Directly get the index

- case-2: Next value index, by providing start

- case-3: Between the values

In [ ]:
- Copy/clear

- Append

**Insert**

- Will insert the element based on index

- Append will add the element at last only

In [8]:
l1=[1,2,3,'Apple', 10,20,'Apple',40]
i1=l1.index('Apple')
l1.insert(i1,'Banana')
l1

[1, 2, 3, 'Banana', 'Apple', 10, 20, 'Apple', 40]

In [22]:
l1=[1,2,3,'Apple', 10,20,'Apple',40]
i1=l1.index(40)
l1.insert(i1,'Cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple', 'Cherry', 40]

In [24]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
l1=[1,2,3,'Apple', 10,20,'Apple',40]
i1=l1.index(40)
l1.insert(i1,'Cherry')
l1

In [55]:
l1 = [1, 2, 3, 'Apple', 10, 20, 'Apple', 40]
i1 = l1.index('Apple')
i2= l1.index('Apple', i1 + 1)
l1.insert(i2,'Cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'Cherry', 'Apple', 40]

In [46]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**pop-remove-del**

- pop will remoove the item 

- pop also display the item which is removing 

- pop will take one argument:index

- pop will remove the item based on index

- if you dont provide any index, by default it will remove last value

- because the default indexvalue is -1

In [49]:
l1 = [1, 2, 3, 'Apple', 10, 20, 'Apple', 40]
l1.pop()
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple']

In [83]:
#Second apple
l1 = [1, 2, 3, 'Apple', 10, 20, 'Apple', 40]
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.pop(i2)
l1

[1, 2, 3, 'Apple', 10, 20, 40]

In [91]:
# two apple remove
l1 = [1, 2, 3, 'Apple', 10, 20, 'Apple', 40]
i1=l1.index('Apple')
l1.pop(i1)
i2=l1.index('Apple')
l1.pop(i2)
l1

[1, 2, 3, 10, 20, 40]

In [93]:
str='hai apple how are you apple im good apple thank you apple'
word_list = str.split()
while 'apple' in word_list:
    word_list.pop(word_list.index('apple'))
new_str = ' '.join(word_list)
print(new_str)

hai how are you im good thank you

In [138]:
l1='hai apple how are you apple im good apple thank you apple'
l2=l1.split()
count=l2.count('apple')
for i in range(count):
    i1=l2.index('apple')
    l2.pop(i1)
l3=' '.join(l2)
l3

'hai how are you im good thank you'

**Remove**

- remove will take value

- remove will

In [132]:
l1 = [1, 2, 3, 'Apple', 10, 20, 'Apple', 40]
l1.remove('Apple')
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [150]:
l1='hai apple how are you apple im good apple thank you apple'
l2=l1.split()
count=l2.count('apple')
for i in range(count):
    l2.remove('apple')
l3=' '.join(l2)
l3

'hai how are you im good thank you'

**del**

In [162]:
l1 = [1, 2, 3, 'Apple', 10, 20, 'Apple', 40]
del(l1[6])
l1

[1, 2, 3, 'Apple', 10, 20, 40]

- append / extend / insert/ concatenation

- pop / remove/ del

- sort/ sorted

- reverse/reveresed

- count and index ==== can use anywhere

In [165]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']